<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyPod</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background: #111;color: #eee;font-family:Arial;">
    <h1>StudyPod 🎧</h1>
    <p>Notunu yükle, kulaklığı tak ve sesli notlarla çalış.</p>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image"accept="image/*" required>
        <br><br>
        <button type="submit">Yükle</button>
    </form>
    
</body>
</html>